<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdNFZUGiBheAEe3FjZSju1Mya7OQKjT3M</string>
	<key>GCM_SENDER_ID</key>
	<string>557200424508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssStore</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-f2c07</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-f2c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557200424508:ios:48bbc56f91e1378d998d39</string>
</dict>
</plist>